:root {
  --background-color: #f7f7f7;
  --button-bg-color: #007aff;
  --button-bg-hover-color: #0066cc;
  --font-family: 'Helvetica', sans-serif;
  --border-radius: 18px;
  --common-padding: 8px 12px;
  --common-margin: 0 auto 8px;
  --border-style: 1px solid #ccc;
  --text-color-light: rgba(0, 0, 0, 0.5);
  --message-margin: 16px;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background-color);
  font-family: var(--font-family);
}

.header,
.messageInputContainer,
.typingBubble {
  border-bottom: var(--border-style);
  display: flex;
  align-items: center;
  background: white;
  padding: 8px;
}

.header,
.messageInputContainer {
  justify-content: space-between;
}

.messagesList,
.startChatButtonContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.messagesList {
  overflow: auto;
  padding: 16px;
}

.myMessage,
.otherMessage,
.typingBubble {
  max-width: 60%;
  padding: var(--common-padding);
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  background-color: white;
}

.myMessage {
  align-self: flex-end;
  margin-right: var(--message-margin);
}

.otherMessage,
.typingBubble {
  align-self: flex-start;
  margin-left: var(--message-margin);
}

.typingBubble {
  background-color: #cfd8dc;
  flex-direction: column;
}

.messageMetadata,
.typingUsername {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 4px;
  color: #555;
  gap: 10%;
}

.typingIndicator,
.typingText {
  font-style: italic;
  color: #888;
}

.inputField {
  flex-grow: 1;
  padding: var(--common-padding);
  border-radius: var(--border-radius);
  border: var(--border-style);
  margin-right: 8px;
}

.sendButton,
.startChatButton,
.changeUsernameButton {
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.sendButton:hover,
.sendButton:focus,
.startChatButton:hover,
.changeUsernameButton:hover,
.changeUsernameButton:focus {
  background-color: var(--button-bg-hover-color);
}

.startChatButton {
  justify-content: center;
  align-self: center;
  width: 50%;
  margin: auto;
  font-size: 1.2em;
  border-radius: 25px;
}

.startChatButtonContainer {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.typingText {
  color: var(--text-color-light);
}

.typingUsername {
  color: var(--text-color-light);
  align-self: flex-start;
}
